body {
  font-family: 'Andale Mono', monospace;
  background-color: #f4f4f9;
  margin: 20px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #C3B1E1;
  text-align: center;
  margin-bottom: 20px;
  font-size: 100px;
}

hr.divider {
  border: none;
  height: 2px;
  background-color: #232b2b;
  margin: 20px auto;
}

span {
  color: #414a4c;
}

.radio-buttons {
  margin: 20px 0;
}

.radio-buttons label {
  margin-right: 15px;
  font-size: 18px;
  color: #232b2b;
}

.select {
  margin: 20px auto;
}
